# Dependencies
node_modules/
.pnp.*
.yarn/*

# Production
build/
dist/
out/
.next/
.nuxt/
.cache/

# Environment
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Editor
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Testing
coverage/
.nyc_output/

# Contracts
artifacts/
cache/
typechain-types/
deployments/localhost/

# Misc
*.pem
.vercel
.turbo
